.jumbotron {
  margin-bottom: auto;
  margin-left: 2px;
  margin-right: 2px;
}
#music {
  background-image: url(images/drums.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
