html,
body {
  height: auto;
  width: auto;
  background-color: black;
}

#img-quinn {
  background-image: url(images/Quinn.jpg);
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: drop-shadow(10px 10px 4px rgb(48, 46, 46));
  margin: auto;
  margin-bottom: 30px;
}

#bio {
  background-image: url(images/head-in-clouds.JPG);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  vertical-align: center;
}

#bio-text {
  opacity: 0.5;
  padding: 20px;
  background-color: whitesmoke;
  justify-content: center;
  filter: drop-shadow(30px 10px 4px black);
  box-sizing: border-box;
  margin: auto;
}

.carousel-item .img-fluid {
  height: 700px;
}

.card {
  margin: auto;
  margin-bottom: 50px;
}

.code-cont {
  background-image: url(images/code.jpg);
  background-position: center;
  background-size: cover;
  min-height: 200px;
}
.code-row {
  padding: 40px 0px;
  filter: drop-shadow(10px 10px 4px black);
}

.code-icon {
  height: 150px;
  width: 275px;
}

.github-icon {
  height: 175px;
  width: 300px;
}
.card-text {
  text-align: center;
}

#music {
  background-image: url(images/drums.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

#music-row {
  padding: 40px;
  filter: drop-shadow(10px 10px 4px black);
}

.follow-button {
  padding-left: 75px;
}

.follow-button-sound-cloud {
  padding-left: 75px;
  font-size: 10px;
  color: white;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

.quinncy-tag {
  color: white;
  text-decoration: none;
}

.sound-cloud-frame {
  width: 250px;
  height: 330px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-top: 10px;
}

.footie {
  background-color: black;
  border-radius: 5px;
  padding: 40px;
  color: white;
}

.copyright {
  color: white;
}

.col-left {
  float: left;
  width: 100%;
  margin-top: 6px;
}

#header {
  color: white;
  /* border: 1px solid white; */
}

#icon {
  font-size: 50px;
}

.icon-link {
  color: white;
  text-align: center;
}

.icon-link:hover {
  color: rgb(29, 192, 29);
}

#footer-text {
  /* opacity: 0.5; */
  padding: 20px;
  background-color: white;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  margin-top: 40px;
  color: black;
  border-radius: 10px;
  height: 100px;
}
